<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Регистрация | Алумни албум</title>
    <link rel="stylesheet" href="../../styles/form.css">
    <script src="../../scripts/signup.js" defer></script>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
</head>
<body>
<header class="banner">
    <img src="../../images/banner-su-middle.png" alt="Банер СУ „Св. Климент Охридски“">
</header>
<main>
    <div class="custom-form">
        <div class="form-header">
            <h1>Регистрация</h1>
        </div>
        <div class="form-callout form-message">
            <p id="success"></p>
        </div>
        <div class="form-body">
            <form>
                <div class="form-fieldset regular-fieldset">
                    <div>
                        <input type="email" class="form-item" name="email" id="email" placeholder="Имейл" required>
                        <div class="error">
                            <p id="email-error"></p>
                        </div>
                    </div>
                    <div>
                        <input type="password" class="form-item" name="password" id="password" placeholder="Парола"
                               required
                               minlength="8" maxlength="64">
                        <div class="error">
                            <p id="password-error"></p>
                        </div>
                    </div>
                    <div>
                        <input type="password" class="form-item" name="repeatedPassword" id="repeated-password"
                               placeholder="Повтори паролата"
                               required minlength="8" maxlength="63">
                        <div class="error">
                            <p id="repeated-password-error"></p>
                        </div>
                    </div>
                    <div>
                        <input type="text" class="form-item" name="firstName" id="first-name" placeholder="Име" required
                               maxlength="255">
                        <div class="error">
                            <p id="first-name-error"></p>
                        </div>
                    </div>
                    <div>
                        <input type="text" class="form-item" name="lastName" id="last-name" placeholder="Фамилия"
                               required
                               maxlength="255">
                        <div class="error">
                            <p id="last-name-error"></p>
                        </div>
                    </div>
                </div>
                <div class="form-fieldset tab-fieldset">
                    <div class="tab-bar">
                        <button type="button" class="tab" id="student">Студент</button>
                        <button type="button" class="tab" id="teacher">Преподавател</button>
                    </div>
                    <div class="form-tab-option" id="student-fields">
                        <div>
                            <input type="text" class="form-item" name="facultyNumber" id="faculty-number"
                                   placeholder="Факултетен номер"
                                   maxlength="255">
                        </div>
                        <div>
                            <input type="number" class="form-item" name="class" id="class" placeholder="Випуск"
                                   min="1888">
                        </div>
                        <div>
                            <select class="form-item" name="programme" id="programme">
                                <optgroup label="Математика">
                                    <option value="Data Analytics">Анализ на данни</option>
                                    <option value="Mathematics">Математика</option>
                                    <option value="Applied Mathematics">Приложна математика</option>
                                    <option value="Statistics">Статистика</option>
                                </optgroup>
                                <optgroup label="Информатика и компютърни науки">
                                    <option value="Informatics">Информатика</option>
                                    <option value="Information Systems">Информационни системи</option>
                                    <option value="Computer Science">Компютърни науки</option>
                                    <option value="Software Engineering">Софтуерно инженерство</option>
                                </optgroup>
                                <optgroup label="Педагогика на обучението по...">
                                    <option value="Mathematics and Informatics">Математика и информатика</option>
                                </optgroup>
                            </select>
                        </div>
                        <div>
                            <input type="number" class="form-item" name="studentGroup" id="student-group"
                                   placeholder="Група" min="1"
                                   max="8">
                        </div>
                    </div>
                    <div class="form-tab-option" id="teacher-fields">
                        <div>
                            <input class="form-item" name="title" id="title" type="text" placeholder="Титла">
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="form-item" id="signup-button">Регистрация</button>
                </div>
            </form>
        </div>
        <div class="form-callout">
            <p>Имате регистрация? <a href="../login/">Влезте в профила си</a></p>
        </div>
    </div>
</main>
</body>
</html>
