<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Нова снимка | Алумни албум</title>
    <link rel="icon" href="../../images/favicon.ico" sizes="any">
    <link rel="stylesheet" href="../../styles/search-bar.css">
    <link rel="stylesheet" href="../../styles/form.css">
    <script src="../../scripts/basic-auth.js"></script>
    <script src="../../scripts/upload.js" defer></script>
    <script src="../../scripts/logout.js" defer></script>
</head>
<header class="menu">
    <img src="../../images/building-su.png" alt="Лого">
    <nav class="navigation">
        <ul>
            <li><a href="../home">Начало</a></li>
            <li><a href="../upload" class="active">Нова снимка</a></li>
            <li><a href="../archive">Архив</a></li>
            <li><a href="../statistics">Статистика</a></li>
            <li><a href="../team">Екип</a></li>
            <li><a href="../profile">Профил</a></li>
        </ul>
    </nav>
    <button id="logout-button">Изход</button>
</header>
<body>
<div class="custom-form">
    <div class="form-callout form-message">
        <p id="success"></p>
    </div>
    <div class="form-body">
        <form id="upload-form" enctype="multipart/form-data">
            <div class="form-fieldset regular-fieldset">
                <div>
                    <input type="number" class="form-item" id="class" placeholder="Випуск" min="1888" required>
                </div>
                <div>
                    <select class="form-item" id="programme" required>
                        <option value selected disabled hidden>Специалност</option>
                        <optgroup label="Математика">
                            <option value="Data Analytics">Анализ на данни</option>
                            <option value="Mathematics">Математика</option>
                            <option value="Applied Mathematics">Приложна математика</option>
                            <option value="Statistics">Статистика</option>
                        </optgroup>
                        <optgroup label="Информатика и компютърни науки">
                            <option value="Informatics">Информатика</option>
                            <option value="Information Systems">Информационни системи</option>
                            <option value="Computer Science">Компютърни науки</option>
                            <option value="Software Engineering">Софтуерно инженерство</option>
                        </optgroup>
                        <optgroup label="Педагогика на обучението по...">
                            <option value="Mathematics and Informatics">Математика и информатика</option>
                        </optgroup>
                    </select>
                </div>
                <div>
                    <input type="number" class="form-item" id="subclass" placeholder="Поток" min="1" max="2">
                </div>
                <div>
                    <input type="number" class="form-item" id="student-group" placeholder="Група" min="1" max="8">
                </div>
                <div class="file-button">
                    <input type="file" name="image" required>
                    <button type="submit">Качи снимка</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
