<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Вход | Алумни албум</title>
    <link rel="stylesheet" href="../../styles/form.css">
    <script src="../../scripts/login.js" defer></script>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
</head>
<body>
<header class="banner">
    <img src="../../images/banner-su-middle.png" alt="Банер СУ „Св. Климент Охридски“">
</header>
<main>
    <div class="custom-form">
        <div class="form-header">
            <h1>Вход</h1>
        </div>
        <div class="form-callout form-message">
            <p id="success"></p>
        </div>
        <div class="form-body">
            <form id="login-form">
                <div class="form-fieldset regular-fieldset">
                    <div>
                        <input type="email" class="form-item" name="email" id="email" placeholder="Имейл" required>
                        <div class="error">
                            <p id="email-error"></p>
                        </div>
                    </div>
                    <div>
                        <input type="password" class="form-item" name="password" id="password" placeholder="Парола" required>
                        <div class="error">
                            <p id="password-error"></p>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="form-item" id="login-button">Вход</button>
                </div>
            </form>
        </div>
        <div class="form-callout">
            <p>Нямате регистрация? <a href="../signup/">Регистрирайте се</a></p>
        </div>
    </div>
</main>
</body>
</html>
