<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Вход | Алумни албум</title>
    <link rel="icon" href=".\img\logo.png">
    <link href=".\style.css" rel="stylesheet" />
</head>


<body>
    <img class="picture" src=".\img\logo.png" alt="Elephant">

    <div class="login">
        <h2>Вход към Алумни албум</h2>
    </div>
    <form class="form" id="form">
        <div class="form-item">
            <input type="text" id="email" placeholder="Имейл">
        </div>

        <div class="form-item">
            <input type="text" id="password" placeholder="Парола">
        </div>

        <div >
            <input class="form-button" id="signin-button" type="submit" value="Вход">
        </div>
    </form>

    <p class="login">
        Нямате регистрация?
        <a href="../signup/index.html">Създаване на регистрация</a>
    </p>

</body>

</html>