<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Търсене | Алумни албум</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../styles/search-bar.css">
    <link rel="stylesheet" href="../../styles/navigation.css">
    <link href="../../styles/form.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../styles/photo.css">
    <script src="../../scripts/search.js" defer></script>
    <script src="../../scripts/logout.js" defer></script>
</head>
<body>
<header>
    <nav class="nav-bar">
        <img src="../../images/building-su.png">
        <a class="nav-link" href="../home">Моите снимки</a>
        <a class="nav-link" href="../upload">Качване на снимки</a>
        <a class="nav-link" href="../search">Търсене на снимки</a>
        <a class="nav-link" href="../gallery">Нашата галерия</a>
        <a class="nav-link" href="../profile">Моят профил</a>
        <button class="nav-link logout-button" id="logout-button">Изход</button>
    </nav>
</header>
<main>
    <div class="search-form-body">
        <form id="search-form">
            <div class="form-callout form-message">
                <p id="success"></p>
            </div>

            <div class="form-header">
                <h1>Търси снимки</h1>
            </div>

            <div class="search-form-options" id="search-fields">
                <div class="search-form-option">
                    <label class="search-form-option-label">Випуск</label>
                    <input type="number" class="form-item" name="class" id="class" min="1888">
                </div>
                <div class="search-form-option">
                    <label class="search-form-option-label">Специалност</label>
                    <select class="form-item" name="programme" id="programme">
                        <option disabled="" selected></option>
                        <optgroup label="Математика">
                            <option value="Data Analytics">Анализ на данни</option>
                            <option value="Mathematics">Математика</option>
                            <option value="Applied Mathematics">Приложна математика</option>
                            <option value="Statistics">Статистика</option>
                        </optgroup>
                        <optgroup label="Информатика и компютърни науки">
                            <option value="Informatics">Информатика</option>
                            <option value="Information Systems">Информационни системи</option>
                            <option value="Computer Science">Компютърни науки</option>
                            <option value="Software Engineering">Софтуерно инженерство</option>
                        </optgroup>
                        <optgroup label="Педагогика на обучението по...">
                            <option value="Mathematics and Informatics">Математика и информатика</option>
                        </optgroup>
                    </select>
                </div>
                <div class="search-form-option">
                    <label class="search-form-option-label">Поток</label>
                    <input type="number" class="form-item" name="subclass" id="subclass" min="1" max="2">
                </div>
                <div class="search-form-option">
                    <label class="search-form-option-label">Група</label>
                    <input type="number" class="form-item" name="studentGroup" id="student-group" min="1" max="8">
                </div>

                <div>
                    <button type="submit" class="search-button" id="search-button">Търси</button>
                </div>

            </div>
        </form>

    </div>

    <section id="image-container" class="image-container">
        <div id="no-images" class="warning">
            <p>Галерията е празна</p>
        </div>
    </section>

</main>
</body>
</html>
