<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Архив | Алумни албум</title>
    <link rel="icon" href="../../images/favicon.ico" sizes="any">
    <link rel="stylesheet" href="../../styles/search-bar.css">
    <link rel="stylesheet" href="../../styles/photo.css">
    <link rel="stylesheet" href="../../styles/form.css">
    <script src="../../scripts/search.js" defer></script>
    <script src="../../scripts/logout.js" defer></script>
</head>
<body>
<header class="menu">
    <img src="../../images/building-su.png" alt="Лого">
    <nav class="navigation">
        <ul>
            <li><a href="../home">Начало</a></li>
            <li><a href="../upload">Нова снимка</a></li>
            <li><a href="../search" class="active">Архив</a></li>
            <li><a href="../statistics">Статистика</a></li>
            <li><a href="../team">Екип</a></li>
            <li><a href="../profile">Профил</a></li>
        </ul>
    </nav>
    <button id="logout-button">Изход</button>
</header>
<main>
    <div class="search-form-body">
        <form id="search-form">
            <div class="search-form-options" id="search-fields">
                <div class="search-form-option">
                    <label class="search-form-option-label">Випуск</label>
                    <input type="number" class="form-item" name="class" id="class" min="1888" required>
                </div>
                <div class="search-form-option">
                    <label class="search-form-option-label">Специалност</label>
                    <select class="form-item" name="programme" id="programme" required>
                        <option disabled="" selected></option>
                        <optgroup label="Математика">
                            <option value="Data Analytics">Анализ на данни</option>
                            <option value="Mathematics">Математика</option>
                            <option value="Applied Mathematics">Приложна математика</option>
                            <option value="Statistics">Статистика</option>
                        </optgroup>
                        <optgroup label="Информатика и компютърни науки">
                            <option value="Informatics">Информатика</option>
                            <option value="Information Systems">Информационни системи</option>
                            <option value="Computer Science">Компютърни науки</option>
                            <option value="Software Engineering">Софтуерно инженерство</option>
                        </optgroup>
                        <optgroup label="Педагогика на обучението по...">
                            <option value="Mathematics and Informatics">Математика и информатика</option>
                        </optgroup>
                    </select>
                </div>
                <div class="search-form-option">
                    <label class="search-form-option-label">Поток</label>
                    <input type="number" class="form-item" name="subclass" id="subclass" min="1" max="2">
                </div>
                <div class="search-form-option">
                    <label class="search-form-option-label">Група</label>
                    <input type="number" class="form-item" name="studentGroup" id="student-group" min="1" max="8">
                </div>
                <div>
                    <button type="submit" class="search-button" id="search-button">Търси</button>
                </div>
            </div>
        </form>
        <div class="form-callout form-message">
            <p id="success"></p>
        </div>
    </div>
    <section class="image-container" id="image-container">
        <div class="warning" id="no-images">
            <p>Няма намерени резултати</p>
        </div>
    </section>
</main>
</body>
</html>
