<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Начало</title>
    <link rel="stylesheet" href="./style.css">
    <script src="./home.js" defer></script>
</head>
<body>
    <section class="notes-container">
        <header>
            <h1>Албум</h1>
        </header>
<!--        <article id="photos-body" onload="loadPhotos()">-->
<!--            -->
<!--        </article>-->

        <div class="image-container">
<!--            <img src="../../../backend/images/presentations/web-01.jpg" alt="Ивана и Симона 1">-->
<!--            <img src="../../../backend/images/presentations/web-02.jpg" alt="Калоян 2">-->
<!--            <img src="../../../backend/images/long.jpg" alt="Висока">-->
<!--            <img src="../../../backend/images/presentations/web-03.jpg" alt="Ивана и Симона 3">-->
<!--            <img src="../../../backend/images/presentations/web-04.jpg" alt="Ивана и Симона 4">-->
<!--            <img src="../../../backend/images/presentations/web-05.jpg" alt="Калоян 5">-->
<!--            <img src="../../../backend/images/presentations/web-06.jpg" alt="Симона 6">-->
<!--            <img src="../../../backend/images/presentations/web-07.jpg" alt="Симона 7">-->
<!--            <img src="../../../backend/images/presentations/web-08.jpg" alt="Ивана и Симона 8">-->
<!--            <img src="../../../backend/images/presentations/web-09.jpg" alt="Ивана 9">-->
<!--            <img src="../../../backend/images/presentations/web-10.jpg" alt="Ивана 10">-->
<!--            <img src="../../../backend/images/presentations/web-11.jpg" alt="Калоян 11">-->
<!--            <img src="../../../backend/images/presentations/web-12.jpg" alt="Калоян 12">-->
<!--            <img src="../../../backend/images/presentations/web-13.jpg" alt="Калоян 13">-->
<!--            <img src="../../../backend/images/presentations/web-14.jpg" alt="Ивана 14">-->
<!--            <img src="../../../backend/images/presentations/web-15.jpg" alt="Ивана 15">-->
<!--            <img src="../../../backend/images/presentations/web-16.jpg" alt="Ивана и Симона 16">-->
<!--            <img src="../../../backend/images/presentations/web-17.jpg" alt="Ивана и Симона 17">-->
        </div>

        <div>
            <button type="submit" class="button" id="load-more-button">Зареди още</button>
        </div>

<!--        <figure id="no-more-images" class="warning">-->
<!--            <figcaption>Съобщение</figcaption>-->
<!--            <p>Няма повече снимки</p>-->
<!--        </figure>-->

        <div id="no-more-images" class="warning">
            <p>Няма повече снимки</p>
        </div>

    </section>
</body>
</html>
