<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Начало</title>
    <link rel="icon" href="../../images/favicon.ico" sizes="any">
    <link rel="stylesheet" href="../../styles/home.css">
    <script src="../../scripts/basic-auth.js" defer></script>
    <script src="../../scripts/home.js" defer></script>
    <script src="../../scripts/logout.js" defer></script>
</head>
<body>
<header class="menu">
    <img class="logo" src="../../images/building-su.png">
    <nav class="navigation">
        <ul>
            <li><a href="../home" class="active">Моите снимки</a></li>
            <li><a href="../upload">Качване на снимки</a></li>
            <li><a href="../search">Търсене на снимки</a></li>
            <li><a href="../gallery">Нашата галерия</a></li>
            <li><a href="../profile">Моят профил</a></li>
            <li><a href="../statistics">Статистики</a></li>
        </ul>
    </nav>
    <button id="logout-button">Изход</button>
</header>
<main>
    <header class="title">
        <h1>Албум</h1>
    </header>
    <section class="my-container" id="image-container">

    </section>
    <div>
        <button type="submit" class="load-more-button" id="load-more-button">Зареди още...</button>
    </div>
    <div class="warning" id="no-more-images">
        <p>Няма повече снимки</p>
    </div>
</main>
</body>
</html>
