<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Начало</title>
    <link rel="stylesheet" href="../../styles/common.css">
    <link rel="stylesheet" href="../../styles/home.css">
    <link rel="stylesheet" href="../../styles/photo.css">
    <link rel="stylesheet" href="../../styles/navigation.css">
    <link rel="stylesheet" href="../../styles/search-bar.css">
    <script src="../../scripts/basic-auth.js" defer></script>
    <script src="../../scripts/home.js" defer></script>
    <script src="../../scripts/logout.js" defer> </script>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
</head>
<body>
<header>
    <nav class="nav-bar">
        <img src="../../images/building-su.png">
        <a class="nav-link" href="../home">Моите снимки</a>
        <a class="nav-link" href="../upload">Качване на снимки</a>
        <a class="nav-link" href="../search">Търсене на снимки</a>
        <a class="nav-link" href="../gallery">Нашата галерия</a>
        <button class="nav-link search-button" id="logout-button">Изход</button>
    </nav>
</header>
    <section class="notes-container">
        <header>
            <h1>Албум</h1>
        </header>

        <div id="columns" class="image-container">

        </div>

        <div>
            <button type="submit" class="load-more-button" id="load-more-button">Зареди още</button>
        </div>

        <div id="no-more-images" class="warning">
            <p>Няма повече снимки</p>
        </div>

    </section>
</body>
</html>
