<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Екип | Алумни албум</title>
    <link rel="icon" href="../../images/favicon.ico" sizes="any">
    <link rel="stylesheet" href="../../styles/photo.css">
    <script src="../../scripts/basic-auth.js" defer></script>
    <script src="../../scripts/team.js" defer></script>
    <script src="../../scripts/logout.js" defer></script>
</head>
<body>
<header class="menu">
    <img src="../../images/building-su.png" alt="Лого">
    <nav class="navigation">
        <ul>
            <li><a href="../home">Начало</a></li>
            <li><a href="../upload">Нова снимка</a></li>
            <li><a href="../archive">Архив</a></li>
            <li><a href="../statistics">Статистика</a></li>
            <li><a href="../team" class="active">Екип</a></li>
            <li><a href="../profile">Профил</a></li>
        </ul>
    </nav>
    <button id="logout-button">Изход</button>
</header>
<main>
    <article class="photos-container" id="photos">

    </article>
    <div class="no-results" id="no-images" hidden>
        <p>Няма намерени снимки.</p>
    </div>
</main>
</body>
</html>
