<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Статистика | Алумни албум</title>
    <link rel="icon" href="../../images/favicon.ico" sizes="any">
    <link rel="stylesheet" href="../../styles/statistics.css">
    <script src="../../scripts/basic-auth.js" defer></script>
    <script src="../../scripts/logout.js" defer></script>
    <script src="../../scripts/statistics.js" defer></script>
</head>
<body>
<header class="menu">
    <img src="../../images/building-su.png" alt="Лого">
    <nav class="navigation">
        <ul>
            <li><a href="../home">Начало</a></li>
            <li><a href="../upload">Нова снимка</a></li>
            <li><a href="../search">Архив</a></li>
            <li><a href="../statistics" class="active">Статистика</a></li>
            <li><a href="../profile">Профил</a></li>
        </ul>
    </nav>
    <button id="logout-button">Изход</button>
</header>
<main>
    <div class="tab-bar">
        <button type="button" class="tab" id="class">Випуск</button>
        <button type="button" class="tab" id="programme">Специалност</button>
    </div>
    <div class="statistics" id="statistics">

    </div>
    <section class="warning" id="no-data">
        <p>Няма достатъчно данни за изготвяне на статистика</p>
    </section>
</main>
</body>
</html>
