<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Начало</title>
    <link rel="stylesheet" href="../../styles/common.css">
    <link rel="stylesheet" href="../../styles/photo.css">
    <link rel="stylesheet" href="../../styles/navigation.css">
    <link rel="stylesheet" href="../../styles/search-bar.css">
    <script src="../../scripts/basic-auth.js" defer></script>
    <script src="../../scripts/gallery.js" defer></script>
    <script src="../../scripts/logout.js" defer> </script>
</head>
<body>
<header>
    <nav class="nav-bar">
        <img src="../../images/building-su.png">
        <a class="nav-link" href="../home">Моите снимки</a>
        <a class="nav-link" href="../upload">Качване на снимки</a>
        <a class="nav-link" href="../search">Търсене на снимки</a>
        <a class="nav-link" href="../gallery">Нашата галерия</a>
        <button class="nav-link search-button" id="logout-button">Изход</button>
    </nav>
</header>
<section id="image-container" class="image-container">
    <div id="no-images" class="warning">
        <p>Галерията е празна</p>
    </div>
</section>

</body>
</html>
