<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Галерия | Алумни албум</title>
    <link rel="icon" href="../../images/favicon.ico" sizes="any">
    <link rel="stylesheet" href="../../styles/photo.css">
    <script src="../../scripts/basic-auth.js" defer></script>
    <script src="../../scripts/gallery.js" defer></script>
    <script src="../../scripts/logout.js" defer></script>
</head>
<body>
<header class="menu">
    <img class="logo" src="../../images/building-su.png">
    <nav class="navigation">
        <ul>
            <li><a href="../home">Моите снимки</a></li>
            <li><a href="../upload">Качване на снимки</a></li>
            <li><a href="../search">Търсене на снимки</a></li>
            <li><a href="../gallery" class="active">Нашата галерия</a></li>
            <li><a href="../statistics">Статистики</a></li>
            <li><a href="../profile">Моят профил</a></li>
        </ul>
    </nav>
    <button id="logout-button">Изход</button>
</header>
<section class="image-container" id="image-container">
    <div class="warning" id="no-images">
        <p>Галерията е празна</p>
    </div>
</section>
</body>
</html>
