* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.banner {
    margin-top: 1rem;
}

.banner img {
    width: 100%;
}

.auth-form {
    margin: 1rem auto 3rem;
    padding: 0 1rem;
    width: 400px;
    font-size: 14px;
}

.auth-form > div + div {
    margin-top: 1rem;
}

.auth-form-header {
    text-align: center;
}

.auth-form-body form > * + * {
    margin-top: 1rem;
}

.auth-form-body button {
    padding: 5px 16px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #79005E;
}

.auth-form-body button:hover {
    background-color: #5a0046;
}

.auth-form-body button:active {
    background-color: #79005E;
}

.auth-form-fieldset {
    padding: 1rem;
    border: solid 1px black;
    border-radius: 6px;
    background-color: #FFFFFF;
}

.auth-form-fieldset > * + * {
    margin-top: .75rem;
}

.auth-form-fieldset input,
select {
    padding: 5px 12px;
}

.form-item {
    border: solid 1px black;
    border-radius: 6px;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    appearance: none;
}

.auth-form-message {
    display: none;
}

.auth-form-callout {
    border: solid 1px black;
    border-radius: 6px;
    padding: 1rem;
    text-align: center;
}

.hidden {
    display: none;
}

.auth-form-error {
    border: 1px solid rgba(248, 81, 73, 0.4);
    display: block;
    color: red;
    background-color: rgba(248, 81, 73, 0.15);
}

.auth-form-success {
    border: 1px solid rgba(15, 255, 80, 0.4);
    display: block;
    background-color: rgba(15, 255, 80, 0.15);
}

.error {
    margin-top: .2rem;
    padding-left: .2rem;
    display: none;
    color: red;
    font-size: small;
    font-style: italic;
}
