@import "common.css";

.nav-bar {
    --height: 50px;

    margin: calc(2px + var(--height) / 2) 0;
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--su-purple);
}

.nav-bar img {
    height: calc(var(--height) * 2);
    position: relative;
    top: -4px;
}

.nav-link {
    color: white;
}

.logout-button {
    background-color: #79005E;
    color: white;
    border-color: white;
    margin: 0.5rem 0.5rem;
    float: right;
    padding: 5px 10px;
    font-weight: 100;
}

.logout-button:hover {
    background-color: #5A0046;
}
