@import "common.css";

.menu {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1rem;
}

.menu .logo {
    width: 150px;
}

.menu button {
    border: none;
    border-radius: 50px;
    padding: .5rem 1.5rem;
    color: white;
    background-color: var(--su-purple);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: inherit;
    font-size: inherit;
}

.navigation ul {
    list-style: none;
}

.navigation ul li {
    padding: 0 1rem;
    display: inline-block;
}

.navigation ul li a {
    transition: all 0.3s ease 0s;
}

.navigation ul li a:hover {
    color: var(--su-purple);
}

.navigation li,
.navigation a {
    color: black;
    text-decoration: none;
}

.navigation .active {
    color: var(--su-purple);
}
