@import "common.css";
@import "navigation.css";

.image-container {
    margin-top: 3rem;
    margin-bottom: 2rem;
    column-count: 3;
}

.image-view {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 0.5rem;
    border: 1px solid black;
}

.image-view img {
    display: block;
    width: 100%;
}

.img {
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 1px solid black;
    padding: 0.5rem;
}

@media (max-width: 800px) {
    .image-container {
        margin-top: 3rem;
        margin-bottom: 2rem;
        column-count: 2;
    }
}

@media (max-width: 600px) {
    .image-container {
        margin-top: 3rem;
        margin-bottom: 2rem;
        column-count: 1;
    }
}
