* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #faf4e1;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.registration-form-input {
    width: 100%;
    color: black;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
}

.registration-form-input:hover{
    border-color:#53131e;
}

.registration-form-button:hover .registration-form-select:hover{
    color: #ffefbd;
    background-color: #660066;
}

.registration-form-button .registration-form-select{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 10px;
    color: #660066;
    background-color: #faecfa;
    box-sizing: border-box;
    border-color: #29090f;
    border-radius: 15px;
}

.registration-form{
    margin: 2% auto;
    padding: 2%;
    width: 30%;
    border-radius: 15px;
    border-style: outset;
    border-color: #53131e;
}

.registration-form-radio-button{
    display: inline;
}

.signup-block{
    color:  black;
    margin: auto;
    padding: 2%;
    width: 30%;
    border-radius: 15px;
    border-style: outset;
    border-color:#53131e;
    text-align: center;
}

.fields {
    display: none;
}
