<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Профил | Алумни албум</title>
    <link rel="icon" href="../../images/favicon.ico" sizes="any">
    <link rel="stylesheet" href="../../styles/profile.css">
    <script src="../../scripts/basic-auth.js" defer></script>
    <script src="../../scripts/logout.js" defer></script>
    <script src="../../scripts/load-profile.js" defer></script>
    <script src="../../scripts/update-profile.js" defer></script>
</head>
<body>
<header class="menu">
    <img src="../../images/building-su.png" alt="Лого">
    <nav class="navigation">
        <ul>
            <li><a href="../home">Начало</a></li>
            <li><a href="../upload">Нова снимка</a></li>
            <li><a href="../search">Архив</a></li>
            <li><a href="../statistics">Статистика</a></li>
            <li><a href="../team">Екип</a></li>
            <li><a href="../profile" class="active">Профил</a></li>
        </ul>
    </nav>
    <button id="logout-button">Изход</button>
</header>
<main>
    <div class="custom-form">
        <div class="form-callout form-message">
            <p id="success"></p>
        </div>
        <div class="form-body">
            <div class="form-header">
                <h1>Редактиране на имейл</h1>
            </div>
            <form class="form-fieldset regular-fieldset" id="update-email-form">
                <div>
                    <input type="email" class="form-item" name="email" id="email" placeholder="Имейл">
                    <div class="error">
                        <p id="email-error"></p>
                    </div>
                </div>
                <div>
                    <input type="password" class="form-item" name="password" id="password" placeholder="Парола"
                           minlength="8" maxlength="64">
                    <div class="error">
                        <p id="password-error"></p>
                    </div>
                </div>
                <div>
                    <button class="update-button" type="submit">Запази</button>
                </div>
            </form>
        </div>
        <div class="form-body">
            <div class="form-header">
                <h1>Редактиране на парола</h1>
            </div>
            <form class="form-fieldset regular-fieldset" id="update-password-form">
                <div>
                    <input type="password" class="form-item" name="password" id="old-password"
                           placeholder="Стара парола"
                           required minlength="8" maxlength="64">
                    <div class="error">
                        <p id="old-password-error"></p>
                    </div>
                </div>
                <div>
                    <input type="password" class="form-item" name="password" id="new-password" placeholder="Парола"
                           minlength="8" maxlength="64">
                    <div class="error">
                        <p id="new-password-error"></p>
                    </div>
                </div>
                <div>
                    <button class="update-button" type="submit">Запази</button>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>
