<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Профил | Алумни албум</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../styles/navigation.css">
    <link rel="stylesheet" href="../../styles/search-bar.css">
    <link rel="stylesheet" href="../../styles/profile.css">
    <link rel="stylesheet" href="../../styles/form.css">
    <script src="../../scripts/basic-auth.js" defer></script>
    <script src="../../scripts/logout.js" defer></script>
    <script src="../../scripts/load-profile.js" defer></script>
    <script src="../../scripts/update-profile.js" defer></script>
</head>
<body>
<header>
    <nav class="nav-bar">
        <img src="../../images/building-su.png">
        <a class="nav-link" href="../home">Моите снимки</a>
        <a class="nav-link" href="../upload">Качване на снимки</a>
        <a class="nav-link" href="../search">Търсене на снимки</a>
        <a class="nav-link" href="../gallery">Нашата галерия</a>
        <a class="nav-link" href="../profile">Моят профил</a>
        <button class="nav-link logout-button" id="logout-button">Изход</button>
    </nav>
</header>
<main>
    <div class="custom-form">
        <div class="form-callout form-message">
            <p id="success"></p>
        </div>
        
        <div class="form-header">
            <h1>Редактиране на профила</h1>
        </div>
        <div class="form-body">
            <form class="form-fieldset regular-fieldset" id="update-form">
                <div>
                    <input type="email" class="form-item" name="email" id="email" placeholder="Имейл">
                    <div class="error">
                        <p id="email-error"></p>
                    </div>
                </div>
                <div>
                    <input type="password" class="form-item" name="password" id="new-password" placeholder="Нова парола"
                           minlength="8" maxlength="64">
                    <div class="error">
                        <p id="new-password-error"></p>
                    </div>
                </div>
                <div>
                    <input type="password" class="form-item" name="password" id="old-password"
                           placeholder="Стара парола"
                           required minlength="8" maxlength="64">
                    <div class="error">
                        <p id="old-password-error"></p>
                    </div>
                </div>
                <div>
                    <button class="update-button" type="submit">Запази</button>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>
