<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Профил | Алумни албум</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../styles/navigation.css">
    <link rel="stylesheet" href="../../styles/search-bar.css">
    <link rel="stylesheet" href="../../styles/form.css">
    <script src="../../scripts/basic-auth.js" defer></script>
    <script src="../../scripts/logout.js" defer></script>
    <script src="../../scripts/profile.js" defer></script>
</head>
<body>
<header>
    <nav class="nav-bar">
        <img src="../../images/building-su.png">
        <a class="nav-link" href="../home">Моите снимки</a>
        <a class="nav-link" href="../upload">Качване на снимки</a>
        <a class="nav-link" href="../search">Търсене на снимки</a>
        <a class="nav-link" href="../gallery">Нашата галерия</a>
        <button class="nav-link search-button" id="logout-button">Изход</button>
    </nav>
</header>
<main>

</main>
</body>
</html>
